### Pandas

In [1]:
import pandas as pd

In [2]:
from dotenv import load_dotenv
import os

# Load environment variables from .env file
load_dotenv()

# Access the PROJECT_PATH variable
project_path = os.getenv("PROJECT_PATH")

In [3]:
df_from_csv = pd.read_csv(os.path.join(project_path, 'test_dataframe.csv'))

In [4]:
df_from_csv.max()

Current Price      1970.19
Name             Microsoft
Ticker                MSFT
dtype: object

In [5]:
df_from_csv.min()

Current Price    113.37
Name             Amazon
Ticker             AAPL
dtype: object

In [9]:
df_from_csv.describe()

       Current Price
count       3.000000
mean      769.133333
std      1041.611128
min       113.370000
25%       168.605000
50%       223.840000
75%      1097.015000
max      1970.190000

In [10]:
ex_df = pd.read_csv(os.path.join(project_path, 'ex_df.csv'))

In [11]:
ex_df

   series_1 series_2 series_3
0         1      one        I
1         2      two       II
2         3    three      III
3         4     four       IV
4         5     five        V

In [17]:
print(ex_df['series_2'].head(2))
print('---')
print(ex_df['series_3'].tail(2))
print('---')
print(ex_df['series_1'].max())

0    one
1    two
Name: series_2, dtype: object
---
3    IV
4     V
Name: series_3, dtype: object
---
5