### Feature Engineering

In [1]:
import pandas as pd
from dotenv import load_dotenv
import os

# Load environment variables from .env file
load_dotenv()

# Access the PROJECT_PATH variable
project_path = os.getenv("PROJECT_PATH")

# Load data
df_from_csv = pd.read_csv(os.path.join(project_path, 'test_dataframe.csv'))

In [ ]:
df_from_csv['price_in_cents'] = round(df_from_csv['Current Price'] * 100, 0)
df_from_csv.head(2)

   Current Price    Name Ticker  price_in_cents
0         223.84   Apple   AAPL         22384.0
1        1970.19  Amazon   AMZN        197019.0

In [ ]:
lw_df = pd.DataFrame({
    'length' : [6, 8, 12],
    'width' : [12, 12, 12]
})

In [ ]:
lw_df.head(2)

   length  width
0       6     12
1       8     12

In [ ]:
lw_df['area'] = lw_df['length'] * lw_df['width']

lw_df

   length  width  area
0       6     12    72
1       8     12    96
2      12     12   144

In [ ]:
round(lw_df['area'].describe(), 1)

count      3.0
mean     104.0
std       36.7
min       72.0
25%       84.0
50%       96.0
75%      120.0
max      144.0
Name: area, dtype: float64