### Indicator variables

In [2]:
import pandas as pd

In [3]:
ratings_df = pd.DataFrame({
    "Company": ["Apple", "Amazon", "Microsoft", "Netflix", "Micron"],
    "Rating": ["Aa1", "Baa1", "Aaa", "Ba3", "Ba1"],
    "IG or HY": ["Investment Grade", "Investment Grade", "Investment Grade", "High Yield", "High Yield"]
})

In [4]:
ratings_df

     Company Rating          IG or HY
0      Apple    Aa1  Investment Grade
1     Amazon   Baa1  Investment Grade
2  Microsoft    Aaa  Investment Grade
3    Netflix    Ba3        High Yield
4     Micron    Ba1        High Yield

In [5]:
mask = (ratings_df['IG or HY'] == 'Investment Grade').astype(int)

In [6]:
mask

0    1
1    1
2    1
3    0
4    0
Name: IG or HY, dtype: int64

In [7]:
ratings_df['IG Indicator'] = (ratings_df['IG or HY'] == 'Investment Grade').astype(int)
ratings_df

     Company Rating          IG or HY  IG Indicator
0      Apple    Aa1  Investment Grade             1
1     Amazon   Baa1  Investment Grade             1
2  Microsoft    Aaa  Investment Grade             1
3    Netflix    Ba3        High Yield             0
4     Micron    Ba1        High Yield             0

In [8]:
# Exercise

ratings_df.head(3)

     Company Rating          IG or HY  IG Indicator
0      Apple    Aa1  Investment Grade             1
1     Amazon   Baa1  Investment Grade             1
2  Microsoft    Aaa  Investment Grade             1

In [11]:
ratings_df['HY Indicator'] = (ratings_df['IG or HY'] == 'High Yield').astype(int)
ratings_df

     Company Rating          IG or HY  IG Indicator  HY Indicator
0      Apple    Aa1  Investment Grade             1             0
1     Amazon   Baa1  Investment Grade             1             0
2  Microsoft    Aaa  Investment Grade             1             0
3    Netflix    Ba3        High Yield             0             1
4     Micron    Ba1        High Yield             0             1

In [15]:
bool_ans = ratings_df['HY Indicator']==1
bool_ans

0    False
1    False
2    False
3     True
4     True
Name: HY Indicator, dtype: bool

In [16]:
ratings_df[ratings_df['HY Indicator']==1]

   Company Rating    IG or HY  IG Indicator  HY Indicator
3  Netflix    Ba3  High Yield             0             1
4   Micron    Ba1  High Yield             0             1